<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    
<mapper namespace="com.hibye_server.hibye_server.mapper.CommentMapper">
    <insert id="insertComment" parameterType="com.hibye_server.hibye_server.model.Comment">
    INSERT INTO comments (post_id, user_id, content)
    VALUES (#{postId}, #{userId}, #{content})
    </insert>

<select id="findCommentsByPostId" resultType="com.hibye_server.hibye_server.model.Comment">
  SELECT c.comment_id, c.post_id, c.user_id, u.nickname, c.content, c.created_at as createdAt, u.profile_pic
  FROM comments c
  JOIN users u ON c.user_id = u.id
  WHERE c.post_id = #{postId}
  ORDER BY c.created_at ASC
</select>

</mapper>